<script lang="ts">
import { onMount } from 'svelte';
import { page } from '$app/stores';
import { apiFetch } from '$lib/api';

onMount(async () => {
    const token = $page.url.searchParams.get('token');

    if (!token) return;

    await apiFetch(`/verify-email?token=${token}`, {
        method: 'GET'
    });
});
</script>
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>دعوة إدارية</title>
</head>
<body style="font-family: Arial, sans-serif; direction: rtl; text-align: center; background-color: #f8fafc; padding: 40px;">
    <div style="max-width: 550px; margin: 0 auto; background: #ffffff; padding: 30px; border-radius: 20px; border: 1px solid #e2e8f0;">
        <h2 style="color: #1e293b;">تأكيد حساب في منصة الجاحظ التعليمية </h2>
        <a href="{{link}}" 
        style="
        display: inline-block;
        margin-top: 20px;
        padding: 12px 25px;
        background-color: #2563eb;
        color: #ffffff;
        text-decoration: none;
        border-radius: 10px;
        font-size: 16px;
        ">
        تأكيد الحساب
        </a>
        
        <p style="font-size: 12px; color: #94a3b8;">هذا الرابط مخصص لك فقط وينتهي بعد 24 ساعة.</p>
    </div>
</body>
</html>